<?xml version="1.0" encoding="UTF-8" ?>
<!--MyBatis配置文件-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.tang.dao.mapper.UserMapper">
    <select id="getAvatarByUsername" resultType="java.lang.String">
        SELECT avatar FROM `sc_user` WHERE username=#{username} LIMIT 1
    </select>
    <select id="getAvatarById" resultType="java.lang.String">
        SELECT avatar FROM `sc_user` WHERE id=#{id} LIMIT 1
    </select>
    <select id="getUsernameById" resultType="java.lang.String">
        SELECT username FROM `sc_user` WHERE id=#{id} LIMIT 1
    </select>
    <select id="selectIdByUsername" resultType="java.lang.Long">
        SELECT id FROM `sc_user` WHERE username=#{s} LIMIT 1
    </select>


</mapper>